<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--    default files for Spring Boot https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-configure-logback-for-logging-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    <logger name="org.springframework.web" level="INFO"/>
<!--    we want to log DEBUG and higher events locally for application's internal loggers-->
    <logger name="com.wine.to.up" level="DEBUG"/>

    <springProfile name="docker">
        <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>logstash:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
        </appender>

        <root level="ERROR">
            <appender-ref ref="stash" />
        </root>
    </springProfile>
</configuration>