<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="!docker">
        <!--    default files for Spring Boot https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-configure-logback-for-logging-->
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.springframework.web" level="INFO"/>
        <!--    we want to log DEBUG and higher events locally for application's internal loggers-->
        <logger name="com.wine.to.up" level="DEBUG"/>
    </springProfile>

    <springProfile name="docker">
        <springProperty name="serviceName"    source="spring.application.name" />

        <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>WARN</level>
            </filter>
            <destination>logstash:4560</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"serviceName":"${serviceName}"}</customFields>
            </encoder>
        </appender>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>log.log</file>
            <rollingPolicy
                    class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- daily rollover -->
                <fileNamePattern>log.%d{yyyy-MM-dd}.log</fileNamePattern>

                <!-- Store log-files 1 day -->
                <maxHistory>1</maxHistory>

                <!--MaxFileSize for 1 log-file -->
                <maxFileSize>5MB</maxFileSize>
            </rollingPolicy>
            <encoder>
                <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{20} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="STASH"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>